


nav
    display: flex
    justify-content: space-around
    align-items: center
    min-height: 10vh 
    background: rgb(73,79,82)
    font-family: sans-serif
    font-size: 30
    

.nav-links
    width: 50% 
    display: flex
    justify-content: space-around
    align-items: center
    list-style-type: none